.products {
  margin-top: 5rem;
  min-height: 100vh;
}

.productsContent {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2rem;
}

.productsContent h1 {
  font-size: 3rem;
  padding: 2rem 0;
  text-align: center;
  margin-bottom: 1rem;
  grid-column: span 2;
}

.productsContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 3rem;
  row-gap: 2rem;
}

.regionSide h2 {
  margin-bottom: 1rem;
}

.regionSide li {
  margin-top: .4rem ;
}

.regionside li:hover a {
  color: blue;
}

.regionSide :global(a.active) {
  font-weight: bold;
}

@media (max-width: 1280px)  {
  .productsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}



@media (max-width: 768px) {
  .productsContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .productsContent div {
    width: 100%;
  }
  
  .productsContent {
    grid-template-columns: 1fr;
    gap: 0;
  }
  
  .regionSide {
    display: none;
  }

  .regionSideActive {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 101;
    padding: 2rem;
  }

  .regionSideActive nav {
    font-size: 2rem;
  }

  .regionSideActive h2 {
    font-size: 3rem;
  }

  .closeFilterMenu {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    padding: 1rem;
  }

  .filterContainer {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 2rem;
    margin-top: -1rem;
    justify-self: end;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .productsContent h1 {
    grid-column: 1
  }

}

@media(max-width: 500px) {
  .productsContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .regionSideActive {
    padding-top: 6rem;
  }
}
