.product {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  max-width: 20rem;
}

.product h2 {
  font-size: 1rem;
  justify-self: start;
  margin-bottom: .2rem;
}



.product img {
  max-height: 15rem;
  transition: .3s;
}

.product:hover img {
  transform: scale(1.1);
}

.imgContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #000;
  border-radius: .5rem;
  width: 20rem;
}

.productInfo {
  text-align: start;
}

.productInfo p:last-child{
  font-weight: bold;
}

.productInfo p:first-child {
  color: #808080;
  margin-bottom: .25rem;
}



@media (max-width: 850px) {
  .imgContainer {
    width: 15rem;
  }
}

@media (max-width: 600px) {
  .imgContainer {
    width: 12rem;
  }
}

@media (max-width: 420px) {
  .imgContainer {
    width: 10rem;
  }
}

@media (max-width: 350px) {
  .imgContainer {
    width: 8rem;
  }

  .product h2,
  .product p,
  .product span {
    font-size: .765rem;
  }

}

